{% extends "base.html" %}

{% block content %}
<div class="w-100" 
     style="background: url('{{ MEDIA_URL }}homepage_background_cropped.jpg') no-repeat center center fixed;
            background-size: cover;
            height: 100vh;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    Your next designs are waiting
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}